<div id='social-links' class='noprint'>
  <a href='https://www.linkedin.com/in/dandrust' alt='username: dandrust'>
    <i class='fab fa-linkedin fa-2x'></i>
  </a>
  
  <a href='https://www.github.com/dandrust' alt='username: dandrust'>
    <i class='fab fa-github fa-2x'></i>
  </a>
  
  <a href='https://www.instagram.com/dandrust' alt='username: dandrust'>
    <i class='fab fa-instagram fa-2x'></i>
  </a>
  
  <a href='mailto:{{ site.email }}' alt='{{ site.email }}'>
    <i class='far fa-envelope fa-2x'></i>
  </a>
</div>
