<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='icon' type='img/png' sizes='96x96' href='https://render.bitstrips.com/v2/cpanel/74199580-3d4e-4477-8454-45c0e64aaa76-7bae3348-5189-4dda-8128-de7baa798685-v1.png?transparent=1&palette=1&width=96'>

    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <title>{{ page.title | default: 'Dan Drust' }}</title>
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>

        <div id='menu-button-container' class='visible-mobile noprint'>
          <div id='mobile-menu-button'>
            <span class='fa-stack'>
              <i class='far fa-square fa-stack-2x'></i>
              <i class='fas fa-bars fa-stack-1x'></i>
            </span>
          </div>
          <i id='mobile-menu-close' class='far fa-window-close fa-2x' style='display:none;'></i>
        </div>

        <img src="{{site.logo}}" class='hidden-mobile' />

        <h1><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>

        <p class='noprint'>{{ site.description }}<br />based in {{ site.location }}</p>
        <p class='print-only print-head-info'>
          {{ site.description }} based in {{ site.location }}<br />
          <i class="fas fa-mouse-pointer"></i>{{ site.url }}<br />
          <i class='far fa-envelope'></i>{{ site.email }}
        </p>

        {% include social.html %}

        <div id='header-link-container' class='hidden-mobile noprint'>
        {% for link_text in site.header_links %}
          {% capture link %}{{ link_text | downcase}}{% endcapture %}
          <a href='/{{ link }}' class='header_link'>
            <h3>{% if link == page.category %}> {% endif %}{{ link_text }}</h3>
          </a>
        {% endfor %}
        </div>

      </header>
      <section>

      {{ content }}

      </section>
      <footer class='noprint'>
        <p><small>Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/script.js" | relative_url }}"></script>
  </body>
</html>
